.article {
  height: auto;
  padding: 6rem 5rem;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__button {
    margin-bottom: 3rem;
  }

  &__line {
    width: 100%;
    height: 1px;
    margin-bottom: 3rem;
    background-color: $line-color;
  }

  &__author {
    &-block {
      margin-bottom: 3rem;
      display: flex;
      align-items: center;
    }

    &-image {
      width: 5rem;
      margin-right: 1rem;
      border-radius: 50%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-name {
      font-weight: 500;
      color: $title-color;
      margin-bottom: 0.5rem;
    }

    &-datetime {
      font-size: $font-sm;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $line-color;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__tag-list {
    margin-right: 2rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__action-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__action-item {
    display: flex;

    &--edit {
      margin-right: 2rem !important;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    & span {
      margin-left: 1px;
      font-size: 1.1rem;
    }
  }
}
