.create-form {
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title-input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    color: $title-color;
    border: none;
    border-radius: 0.5rem;
    outline: none;
     
    &:focus {
      background-color: rgba($first-color, 0.1);
    }

    &::placeholder {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  &__container {
    width: 100%;
  }

  &__buttons {
    position: relative;
  }

  &__add-input {
    font-size: 2.5rem;
  }
}
