.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-fixed;
  background-color: rgba($text-color, 0.05);

  &-open {
    display: block;
  }
}