.login-form {
  padding: 8rem 12rem;
  border-radius: 5px;
  @include block-box-shadow;

    @include respond(tab-port) {
      padding: 3rem 5rem;
    }

    &__question {
      font-size: $font-sm;
    }

    &__link {
      color: $first-color;
      font-weight: 500;
      text-decoration: underline;
    }

    .button {
      margin: 1rem 0 3rem;
    }
}