.button {
  margin-bottom: 2rem;
  padding: 0.5rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: $text-color-light;
  border: 2px solid $first-color;
  border-radius: 2.5rem;
  transition: 0.3s;

  &:hover {
    background-color: $first-color;
    color: #FFFFFF;
  }
}