.button {
  padding: 0.5rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: $text-color-light;
  border: 1px solid $text-color-light;
  border-radius: 2.5rem;
  transition: 0.3s;

  &:hover {
    background-color: $text-color-light;
    color: #FFFFFF;
  }

  &:disabled {
    color: $text-color-light;
    background: transparent;
  }
}