.tag {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 100;
  color: #FFFFFF;
  border-radius: 2rem;
  background-color: $first-color-second;
  transition: 0.3s;

  &:hover {
    background-color: $first-color;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}