.tag {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: $font-sm;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 2rem;
  background-color: $tag-color;
  transition: 0.3s;

  &:hover {
    background-color: $text-color-light;
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &.reset {
    width: 100%;
    margin-top: 1rem;
    background-color: $first-color-second;

    &:hover {
      background-color: $first-color;
    }
  }
}
