.create {
  position: relative;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15rem 3rem;

  &__preview-button {
    position: fixed;
    top: 17rem;
    right: 25rem;
    z-index: $z-modal;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $first-color;
    border: 2px solid $first-color;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.3s;

    &:hover {
      background-color: $first-color;
      color: #ffffff;
    }

    &:disabled {
      color: #ffffff;
      background-color: $first-color-lighter;
      border-color: $first-color-lighter;
      cursor: default;
    }

    & .preview-icon {
      font-size: 3.5rem;
      color: inherit;
    }
  }

  &__header {
    width: 100%;
    position: fixed;
    padding: 3rem 1rem;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    transition: 0.5s;

    @include respond(tab-port) {
      padding: 3rem 0;
      width: 100%;
    }

    &--shadow {
      box-shadow: 0px 5px 15px -5px rgba($first-color, 0.3);
    }

    &-wrapper {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond(tab-port) {
        width: 100%;
        padding: 0 3rem;
      }
    }

    &-image-button {
      width: 4rem;
      height: 4rem;
      border: 2px solid $first-color;
      border-radius: 50%;
    }

    &-image {
      width: 3rem;
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__button {
    margin-right: 5rem;
    padding: 0.5rem 2rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: $first-color;
    border-radius: 2rem;
    border: 1px solid $first-color;
    background-color: #ffffff;
    transition: 0.3s;

    @include respond(tab-port) {
      margin-right: 2rem;
    }

    &:hover {
      color: #ffffff;
      background-color: $first-color;
    }

    &:disabled {
      color: #ffffff;
      background-color: $first-color-lighter;
      border-color: $first-color-lighter;
      cursor: default;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}
