.create {
  position: relative;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;

    &-button {
      width: 4rem;
      height: 4rem;
      border: 2px solid $first-color;
      border-radius: 50%;
    }

    &-image {
      width: 3rem;
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__button {
    margin-right: 5rem;
    padding: 0.5rem 2rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 2rem;
    background-color: $first-color;

    &:disabled {
      background-color: $first-color-lighter;
      cursor: default;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}