.navbar {
  border-right: 1px solid $line-color;
  
  &__nav {
    height: 100%;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__item:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__login-image {
    width: 4rem;
    border-radius: 50%;
  }
}